// COLORS
$primary-color: #f9b9b7;
//#9381ff;
//changes name and about

$secondary-color: #fff;

$white-color: #f06c9b;
 //#5a189a;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text:#fff;
// #f2e5f4;
// $primary-color: #ce28de;
// $secondary-color: #fff;

// $white-color: #a82f81;

// $dark-grey: #333333;
// $light-grey: #d2d2d2;

// $dark-blue-text: #f2e5f4;
// #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
